.main-player {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.main-player .volume-control {
    position: absolute;
    background-color: #ECEEF0;
    box-shadow: 15px 15px 35px 0px #00000022;
    border-radius: 1.5rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    margin: 1rem;
    height: 13rem;
    transition: all 0.2s ease;
}

.main-player .volume-control.hidden {
    height: 0rem;
}

.main-player .volume-control span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    padding: 1rem;
    height: 1rem;
    width: 1rem;
    background-color: #ECEEF0;
    transition: all ease 0.2s;
    box-shadow: inset -5px -5px 20px 0px #00000022, 
                inset 5px 5px 20px 0px rgba(255, 255, 255, 1), 
                5px 5px 20px 0px #00000033, 
                -5px -5px 20px 0px rgba(255, 255, 255, 1);
}

.main-player .volume-control span:hover {
    background-color: #EF472Fdd;
    color: #ffffffee;
    box-shadow: inset -5px -5px 20px 0px rgba(255, 255, 255, 0.7), 
                inset 5px 5px 20px 0px #EF472F;
}

.main-player .volume-control .volume-wrapper {
    overflow: hidden;
    border-radius: 14px;
    display: inline-block;
    padding: 5px 0px;
    height: 9rem;
    width: 3rem;
    margin: 0 0;
}

.main-player .volume-control input {
    border-radius: 3px;
    background: #DEE1E3;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    box-shadow: inset 1px 1px 4px 0px #00000022, 
                1px 1px 1px 0px #ffffff; 
    padding: 0;
    margin: 0;
    height: 6px;
    width: 8rem;
    transform: rotate(-90deg) translate(-4rem, -2.5rem);
    transition: width 0.7s ease;
}

.main-player .volume-control input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    -webkit-transition: .2s;
    transition: .2s;
    background: radial-gradient(circle, 
        rgba(239,112,73,1) 0%, 
        rgba(239,112,73,1) 17%, 
        rgba(242,243,245,1) 18%, 
        rgba(237,237,238,1) 65%, 
        rgba(250,250,250,1) 66%, 
        rgba(250,250,250,1) 100%);
    cursor: pointer;
    box-shadow: 2px 2px 10px 0px #00000022;
}

.main-player .album-art {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 2rem;
    height: 12rem;
    width: 12rem;
    padding: 0.5rem;
    background-image: url('./assets/squircle-background.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(5px 5px 10px #00000022) 
        drop-shadow(-5px -5px 10px #fff);
}

.main-player .album-art img {
    width: 12rem;
    height: 12rem;
    object-fit: fill;
    -webkit-mask-image: url('./assets/squircle-mask.svg');
    mask-image: url('./assets/squircle-mask.svg');
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.main-player .track-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.main-player .track-name {
    text-align: center;
    color: #555;
    font-size: 1.5rem;
    font-family: 'Montserrat Medium', sans-serif;
    margin-bottom: 0.5rem;
}

.main-player .track-artist {
    text-align: center;
    font-family: 'Montserrat Regular', sans-serif;
    color: #777;
    font-size: 1rem;
}

.main-player .track-position-wrapper {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-player .track-position-wrapper label {
    color: #777;
    font-variant-numeric: tabular-nums;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 0.8rem;
}

.main-player .track-position-wrapper label:first-of-type {
    margin-right: 1rem;
}

.main-player .track-position-wrapper label:last-of-type {
    margin-left: 1rem;
}
  
.main-player .track-position-slider {
    border-radius: 3px;
    background: #DEE1E3;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    flex: 1;
    height: 6px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    box-shadow: inset 1px 1px 4px 0px #00000022, 
                1px 1px 1px 0px #ffffff;
}

.main-player .track-position-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    -webkit-transition: .2s;
    transition: .2s;
    background: radial-gradient(circle, 
        rgba(239,112,73,1) 0%, 
        rgba(239,112,73,1) 17%, 
        rgba(242,243,245,1) 18%, 
        rgba(237,237,238,1) 65%, 
        rgba(250,250,250,1) 66%, 
        rgba(250,250,250,1) 100%);
    cursor: pointer;
    box-shadow: 2px 2px 10px 0px #00000022;
}
  
.main-player .track-position-slider::-webkit-slider-thumb:hover {
    background: radial-gradient(circle, 
        rgba(239,112,73,1) 0%, 
        rgba(239,112,73,1) 17%, 
        rgba(242,243,245,1) 18%, 
        rgba(230,228,228,1) 65%, 
        rgba(250,250,250,1) 66%, 
        rgba(250,250,250,1) 100%);
    box-shadow: 0px 0px 10px 0px rgba(239,93,73,0.5);
}

.main-player .audio-buttons {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-evenly;
}

.main-player .audio-buttons span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    padding: 1rem;
    height: 1rem;
    width: 1rem;
    background-color: #ECEEF0;
    transition: all ease 0.2s;
    box-shadow: inset -5px -5px 20px 0px #00000022, 
                inset 5px 5px 20px 0px rgba(255, 255, 255, 1), 
                5px 5px 20px 0px #00000033, 
                -5px -5px 20px 0px rgba(255, 255, 255, 1);
}

.main-player .audio-buttons span:hover {
    background-color: #EF472Fdd;
    color: #ffffffee;
    box-shadow: inset -5px -5px 20px 0px rgba(255, 255, 255, 0.7), 
                inset 5px 5px 20px 0px #EF472F, 
                5px 5px 20px 0px rgba(255, 255, 255, 1), 
                -5px -5px 20px 0px #EF472Fcc;
}

.main-player .audio-buttons span img {
    height: 100%;
    width: 100%;
}


.main-player .playback-speed-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #DEE1E3;
    color: #666;
    border-radius: 10px;
    font-family: 'Montserrat Medium', sans-serif;
    box-shadow: inset 1px 1px 4px 0px #00000022, 
                1px 1px 1px 0px #ffffff;
    transition: all ease 0.2s; 
}

.main-player .playback-speed-wrapper label {
    text-align: center;
    margin: 2px;
    padding: 1rem 0;
}

.main-player .playback-speed-wrapper input {
    display: none;
}

.main-player .playback-speed-wrapper input:checked + label {
    border-radius: 10px;
    color: #444;
}

.main-player .playback-speed-wrapper .indicator {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(20% - 4px);
    height: calc(100% - 4px);
    border-radius: 10px;
    background: none;
    background-color: #00000009;
    color: #000;
    box-shadow: inset 1px 1px 4px 0px #EF472F44, 
                1px 1px 1px 0px #ffffff;
    transition: all 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97);
    transform: translate3d(0, 0, 0);
}

.main-player .playback-speed-wrapper input#speed1:checked ~ .indicator {
    margin-left: 0%;
}

.main-player .playback-speed-wrapper input#speed2:checked ~ .indicator {
    margin-left: 20%;
}

.main-player .playback-speed-wrapper input#speed3:checked ~ .indicator {
    margin-left: 40%;
}

.main-player .playback-speed-wrapper input#speed4:checked ~ .indicator {
    margin-left: 60%;
}

.main-player .playback-speed-wrapper input#speed5:checked ~ .indicator {
    margin-left: 80%;
}

